:root {
  /* Color Pallete */
  --primary-color: #36c377;
  --secondary-color: #ffffff;
  --light-color: #36c37822;
  --med-color: #249e5d;
  --text-color: #000000;

  /* Typeface */
  --font-family: Roboto, sans-serif;
  /* Font Weight */
  --fw-reg: 400;
  --fw-med: 500;
  --fw-semimed: 600;
  --fw-bold: 700;
  /* Font Sizes */
  --fs-xsmall: 0.7em;
  --fs-small: 0.9em;
  --fs-reg: 1.2em;
  --fs-med: 1.5em;
  --fs-semimed: 2em;
  --fs-large: 2.45em;

}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}



.form-container,
.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.home {
  background-color: var(--secondary-color);
}



/** LOGIN && REGISTER PAGES */
.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  min-width: 300px;
  height: max-content;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  gap: 10px;
  box-shadow: -1px 7px 16px -8px rgba(0, 0, 0, 0.91);
}

.form-logo {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  color: var(--primary-color);
  letter-spacing: 2px;
}

.form-title {
  font-size: var(--fs-small);
}

.file-text {
  font-size: var(--fs-xsmall);
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}

form>input {
  /* border: none; */
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 10px;
  height: 50px;
}

.avatar-label {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  cursor: pointer;
  color: #686868;
  border: 1px solid var(--primary-color);
  padding: 12px;
  border-radius: 10px;
}

.signIn-btn,
.login-btn {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border-radius: 9px;
  align-self: center;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
  font-size: var(--fs-reg);
  font-weight: var(--fw-bold);
  box-shadow: 1px 6px 11px -5px rgba(0, 0, 0, 0.55);
}

.signIn-btn:hover,
.login-btn:hover {
  background-color: #3ebb6a;
  color: #ffffff;
}

.signIn-btn:active .login-active {
  background-color: #3ca762;
  color: #ffffff;
}

.login-link,
.reg-link {
  font-size: var(--fs-small);
  margin-top: 20px;
}

/** HOME */
.home-container {
  border: 1px solid var(--primary-color);
  width: 70%;
  height: 80vh;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}

.sidebar {
  flex: 1;
  border-right: 1px solid var(--primary-color);
  background-color: var(--light-color);
}



/* Navbar */
.navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--primary-color);
}

.navbar-logo {
  font-weight: var(--fw-med);
  color: var(--secondary-color);
}

.user {
  display: flex;
  align-items: center;
  gap: 7px;
}

.user-nav-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  object-fit: cover;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.user-name {
  color: var(--secondary-color);
  font-size: var(--fs-small);
  font-weight: var(--fw-med);
}
/* 
.user-logout-btn {
  border: none;
  color: var(--text-color);
  background-color: var(--secondary-color);
  font-size: var(--fs-xsmall);
  height: 20px;
  border-radius: 3px;
  cursor: pointer; */

  /* Add clicking effect */
  /* transition: all 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
} */

.user-logout-btn:active {
  transform: translateY(1px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.logout-icon {
  color: white;
  cursor: pointer;
}

/* Search */
.search {
  width: 100%;
  border-bottom: 1px solid var(--primary-color);
  padding: 10px;
}

.search-form>input {
  width: 100%;
  border: none;
  outline: none;
  padding: 5px;
  background-color: var(--light-color);
}

.user-chat {
  display: flex;
  align-items: center;
  gap: 10px;

}

.user-chat>img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.search-error {
  font-size: var(--fs-xsmall);
  font-weight: var(--fw-med);
  padding: 10px;
  color: #686868;
}

/* Chats */
.chats {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.user-chat-info {
  font-weight: var(--fw-bold);
}

.user-chat-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user-chat-info-wrapper>p {
  font-size: var(--fs-xsmall);
}


/* Chats */
.chat {
  flex: 2;
}

.chat-header {
  height: 50px;
  background-color: var(--med-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
}

.chat-header-name {
  font-size: var(--fs-reg);
  font-weight: var(--fw-bold);
}

.chat-icons {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

/* Chat-Messages */
.messages{
  height: calc(100% - 100px);
  padding: 10px;
  overflow: scroll;
}

.message, .owner{
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.message-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.message-info > img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.message-info > span {
  color: #686868;
  font-size: var(--fs-xsmall);
  font-weight: var(--fw-med);
}

.message-content{
  background-color: #e4e4e4;
  padding: 15px;
  border-radius: 0px 10px 10px 10px;
}

.owner{
  flex-direction: row-reverse;
}

.owner .message-content{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 15px;
  border-radius: 0px 10px 10px 10px;
}


.owner .message-content{
  border-radius: 10px 0 10px 10px;
}



/* Chat-Input */
.input {
  height: 50px;
  width: 100%;
  padding: 10px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  border-top: 1px solid var(--primary-color);
  gap: 10px;
}

.input-message{
  width: 100%;
  border: none;
  font-size: var(--fs-reg);
  outline: none;
}

.send {
  display: flex;
  align-items: center;
}

.clip-icon{
  cursor: pointer;
}

.send-icon{
  cursor: pointer;
}



/* !error-page styles */
#error-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

